<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>SBM </title>
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Sigorta Bilgi ve Gözetim Merkezi</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/customers}">Trafik Poliçesi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/add-city}">Yeni Veri Ekleme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
		
		
		<div class ="container">
			<div class="row">
				<h4>SBM > Trafik Poliçesi Sorgu Ekranı</h4>
			</div>
			
			
			<div class="row">
				<div class="col-lg-3">
					<a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">Müşteri Ekle</a>

					
				</div>
				
			</div>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th>İsim</th>
						<th>Soyisim</th>
						<th>Email</th>
						<th>TCKN</th>
						<th>Marka</th>
						<th>Plaka No</th>
						<th>Hizmetler</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "customer: ${customers}">
						<td th:text="${customer.firstName}"></td>
        				<td th:text="${customer.lastName}"></td>
        				<td th:text="${customer.email}"></td>
        				<td th:text="${customer.tckn}"></td>
        				<td>
    						<ul>
        						<li th:each="vehicle: ${customer.vehicles}">
            						<span th:text="${vehicle.brand}"></span> - <span th:text="${vehicle.model}"></span>
        						</li>
    						</ul>
						</td>
						<td>
    						<ul>
        						<li th:each="vehicle: ${customer.vehicles}">
            						<span th:text="${vehicle.plakaNo}"></span>
        						</li>
    						</ul>
						</td>

        				
        				<td>
							<a th:href="@{/customers/edit/{id}(id=${customer.id})}"
							 class="btn btn-primary">Kaydı Güncelle</a>
							 
							 <a th:href="@{/customers/calculate-policy/{id}(id=${customer.id})}"
							 class="btn btn-primary">Poliçe Hesapla</a>
							 
							 <a th:href="@{/customers/{id}(id=${customer.id})}"
							 class="btn btn-danger">Sil</a>

						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</body>
</html>